/* =================================== */
/*  Layouts
/* =================================== */

#main-wrapper {
  background: $wrapper-bg;
  &.boxed {
    max-width: 1200px;
    margin: 0 auto;
	@include box-shadow(0px 0px 10px rgba(0, 0, 0, 0.1));
  }
}

.section {
  position: relative;
  padding: 104px 0;
  padding: 6.5rem 0;
}

@include media-breakpoint-down(sm) {
.section {padding: 3.5rem 0;}
}

@include media-breakpoint-up(xl) {
  .container {max-width: 1170px !important;}
}


/*== Fullscreen Height when use Transparnt Header ==*/
.fullscreen{
	min-height: 100vh!important;
}

/*== Fullscreen Height when use default Header ==*/
.fullscreen-with-header{
	min-height: calc(100vh - 80px)!important;
}